body{
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container{
    margin: auto;
    max-width: 600px;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    color: white;
    
}

input{
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    outline: 0;
    border-bottom: 2px solid #56ab2f;
    border-left: 2px solid #56ab2f;
}



.done{
    transition: 0.3s;
    color: green;
    text-decoration: line-through;
}

button{
    font-size: 20px;
    width: 50px;
    margin-left: 5px;
    background-color: white;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 0.541);
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

button:hover{
    transition: 0.7s;
    background-color: rgb(58, 49, 170);
    color: white;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 30px;
    padding: 15px;
    margin-top: 10px;
    
}

.card{
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.507);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardModal{
    padding: 20px;
    background-color: white;

}

.hide{
    display: none;
}